.base-password-strength {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  &__progress {
    width: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__feedback {
    font-family: 'Pretendard GOV', sans-serif;
    font-size: 12px;
    line-height: 16px;
  }

  &__crack-time {
    font-family: 'Pretendard GOV', sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-style: italic;
  }
} 